.box-layout {
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh; // viewport heigh
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: rgba(255, 255, 255, 0.55);
    border-radius: 10%;
    padding: 3em .5em;
    color: #dff9ff;
    text-align: center;
    width: 25rem;
    background-image: linear-gradient(0.4turn, rgba(0, 0, 0, 0.5490196078431373) 10%, rgb(0, 0, 0));
    box-shadow: 1px 1px 100px 5px #000000;
    text-shadow: -1px 4px 15px black;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}
