.button {
    background: $blue;
    border: none;
    color: white;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    box-shadow: 0px 4px 10px 0px rgba(8, 13, 18, 0.5);
    transition: background .3s ease;
    &:hover {
        color: white;
        background: #142c58;
    }
    &:disabled{
        background: #dddddd;
        &:hover {
            background: #dddddd;
        }
    }
}

.button-bar-Container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
    }
}

.button-bar-Container .button{
    margin-top:15px;
    @media (min-width: $desktop-breakpoint) {
        margin-top:0px;
    }
}

